/*give a font style*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: #252323f0;
  flex-direction: column;
  overflow-x: hidden;
  font-family: "Oswald", sans-serif;
}
.main-container {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.bg-gif {
  background: url(assests/kababjees-main-gif.gif);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  width: 100%;
  height: 950px;
  z-index: -1;
}
.overlay {
  width: 100%;
  height: 950px;
  background-color: #00000042;
}

.kj-div {
  display: block;
  width: 100%;
  height: auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(21, 21, 21);
  height: 40px;
  border-bottom: 1px dashed white;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  background-color: rgb(0, 0, 0, 0.5);
}
.topbar .left,
.topbar .right {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 10px;
}
#ph-no {
  display: inline-block;
}
.topbar p {
  margin-bottom: 0%;
}
.topbar .left a,
.topbar .right a {
  display: block;
  text-decoration: none;
  font-size: 10px !important;
  color: #fff;
}
.topbar i {
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 6px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  position: absolute;
  z-index: 2;
  font-family: "Oswald", sans-serif !important;
  top: 60px;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}
.nav {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.nav-item {
  word-spacing: 5px;
  /* letter-spacing: 1px; */
  font-size: 16px;
  line-height: 50px;
  justify-content: center;
  padding: 0 5px;
  font-family: "Oswald", sans-serif;
  color: #fff;
  font-weight: 400;
  border-top: 1px dashed #7f7f7f;
  border-bottom: 1px dashed #7f7f7f;
  cursor: pointer;
  text-transform: uppercase;
}
.logo {
  margin: 0 10px;
}

.nav-item:hover {
  color: #dcb658;
}
.txt {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 45%;
}
.txt > p {
  width: 45%;
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: 48px;
  line-height: -5px;
  letter-spacing: 3px;
  word-spacing: 7px;
  font-family: "Oswald", sans-serif;
}
.com-icon {
  width: 60px;
  height: 60px;
  background-color: rgb(20, 148, 228);
  border-radius: 50%;
  position: absolute;
  margin-top: 15%;
  margin-left: 93%;
  position: fixed;
}
.fa-comment {
  position: relative;
  color: #fff;
  font-size: 250%;
  padding-left: 10px;
  padding-top: 10px;
}

@media (max-width: 768px) {
  .topbar {
    width: 100%;
  }
  .nav-item {
    display: none;
  }

  .nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dcb658;
  }

  .menu {
    height: 50px;
    width: 50%;
    position: absolute;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo img {
    width: 130px;
  }
  .menu i {
    color: #000;
  }

  .txt > p {
    width: 100%;
    font-size: 34px;
  }
  .bg-gif {
    height: 90vh;
  }
  .navbar {
    top: 30px;
  }
}
/*----------------------------------------------------------------------------*/
.kj-about {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: rgb(27, 25, 25);
}
.kj-about > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 80%;
  height: auto;
  padding: 3rem 2rem;
}
.about-sec-1 {
  display: flex;
  flex-direction: column;
  color: white;
  width: 50%;
  height: auto;
  padding: 1rem;
}
#about-text {
  line-height: 28px;
  font-family: "Oswald", sans-serif;
  font-size: 17px;
  color: #7f7f7f;
}
#about-head {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
.about-sec-2 {
  flex-direction: column;
  display: flex;
  width: 50%;
  height: auto;
  padding: 1rem;
}

.about-sec-2 img {
  max-width: 500px;
  max-height: 500px;
}

/*----------------------------------------------------------------------------------*/

.kj-special {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 750px;
  flex-direction: column;
  display: block;
  text-align: center;
  background: url(assests/back1.jpg) center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.kj-special .overlay,
kj-bank .overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: #00000062;
}
.kj-special .special,
.kj-bank bank {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.special-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 30px;
}
.special-content h1,
p {
  color: #fff;
  font-family: "Oswald", sans-serif;
}
.special-content h1 {
  font-weight: 400;
  font-size: 36px;
}
.special-content img {
  margin-top: -40px;
  width: 150px;
}
.special-content p {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  margin-top: -36px;
  font-style: italic;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7f7f7f;
  /* margin: 20px;
  padding: 10px; */
}
.cards-border {
  border: 3px solid white;
  border-radius: 25px;
}
.card-space {
  padding: 15px;
}
.kj-call {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(21, 21, 21);
  flex-direction: column;
  text-align: center;
  padding: 2rem 1rem;
  gap: 5px;
}

.call-title {
  color: #6f6f6f;
  font-family: "Cabin", sans-serif;
  text-transform: none;
  margin: 0;
  font-size: 20px;
}
a {
  font-size: 40px;
  text-decoration: none;
  color: #dcb658;
}
a:hover {
  text-decoration: underline;
}
.phone {
  font-size: 40px;
  font-family: "Oswald", sans-serif;
  display: block;
  color: #dcb658;
}
.order-btn {
  background-color: #dcb658;
  color: #000;
  display: block;
  border: none;
  text-align: center;
  padding: 12px 12px;
}
.order-btn:hover {
  opacity: 0.5;
}
.kj-bank {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
  background: url(assests/back2.jpg) center no-repeat;
  background-size: cover;
}
.kj-bank .overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.kj-bank .bank {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.kj-bank .bank-content {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.bank-content h2,
.kj-gallery h2,
.kj-location > h2 {
  color: #fff;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
}
.bank-content img {
  margin-top: -40px;
  width: 130px;
}

.discount-posts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-left: 120px;
  padding-right: 120px;
}
#post-image {
  height: 350px;
  width: 300px;
  margin: 0px 6px;
}
.kj-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 500px;
  flex-direction: column;
  background-color: #1d1c1c;
  padding: 2rem 3rem;
}
.gal-card {
  margin: 10px;
  border-radius: 0%;
}
.galery-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image {
  display: flex;
  width: 100%;
  height: 650px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gal-cards-border {
  border: 1px solid rgba(166, 163, 163, 0.57);
}
.gal-card-space {
  padding: 10px;
}
.card-img {
  border-radius: 0%;
}

.kj-feedback {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 450px;
  width: 100%;
  background: url(assests/bg-1.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.kj-feedback .overlay {
  width: 100%;
  height: 450px;
  top: 0%;
  left: 0;
  position: absolute;
  z-index: 1;
  background-color: #0000007e;
}
.feedback-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 450px;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-direction: column;
}
#kababjees-logo {
  width: 350px;
}

.fst-fedbck {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  gap: 10px;
}
.scnd-fedbck {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
}

.comment {
  display: flex;
  justify-content: center;
}
.comment p {
  text-align: justify;
  font-size: 34px;
  font-weight: 300;
  text-align: center;
  color: #fff;
  font-family: "Oswald", sans-serif;
}
.comment i {
  padding: 10px;
  font-size: 1em;
}
.comment span {
  padding-left: 20px;
}
#client-name {
  color: #dcb658;
  font-size: 32px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
.kj-location {
  display: flex;
  height: 560px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(21, 21, 21);
  padding: 50px;
}
.location-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin: 30px;
  padding-top: 15px;
}
.location-div {
  margin: 12px;
}
.location-div img {
  border-radius: 20px;
}
.location-div img:hover {
  border-radius: 0%;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition-behavior: normal;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  rotate: 5deg;
  scale: 1.1;
}
.location-div i {
  color: red;
}
.location-div p {
  font-size: 25px;
  color: #dcb658;
}
.kj-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 400px;
  background: url(assests/back3.jpg) center no-repeat;
  background-size: cover;
}
.kj-footer .overlay {
  width: 100%;
  height: 400px;
  position: absolute;
  background-color: #0000005b;
  top: 0;
  left: 0;
  z-index: 1;
}
.foot-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0;
  z-index: 3;
  padding: 2rem 8rem;
}
.foot-about-sec {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 25%;
  height: 300px;
  padding-top: 20px;
  padding-right: 50px;
  padding-left: 20px;
}
.foot-con-sec {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 25%;
  padding-top: 20px;
  height: 300px;
  padding-right: 50px;
  padding-left: 20px;
}
.foot-work-sec {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 25%;
  padding-top: 20px;
  height: 300px;
  padding-right: 50px;
  padding-left: 20px;
}
.foot-lo-sec {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 25%;
  height: 300px;
  padding-right: 50px;
  padding-left: 20px;
}

.foot-sec h2 {
  color: #f5c347;
  font-size: 20px;
  padding-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 20px;
}

.foot-sec p {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: justify;
}
.social-account {
  display: flex;
  border: 1px solid #e0b23e;
  border-radius: 15px;
  background-color: #7f7d7df4;
}
.foot-about-sec i {
  flex-direction: row;
  font-size: 20px;
  padding: 2px 12px;
}
.mail-cont {
  display: block;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: justify;
}
.mail-cont p {
  display: flex;
  color: #fff;
  font-size: 15px;
  padding-left: 3px;
  margin-left: 2px;
}
.mail-cont i {
  display: flex;
  color: #dcb658;
  font-size: 15px;
  padding-right: 5px;
}

.foot-time p {
  font-size: 15px;
  color: #fff;
}

.foot-lo-sec a,
p {
  display: block;
  font-size: 15px;
}
.kj-gotop {
  width: 100%;
  height: 70px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 20px;
  background-color: rgb(21, 21, 21);
  border-top: 1px solid rgb(195, 192, 192);
}
.top-icon {
  display: inline;
  position: absolute;
  top: -20px;
  font-size: 20px;
  padding: 15px 25px 0px 25px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  background-color: rgb(21, 21, 21);
  border-top: 1px solid rgb(195, 192, 192);
  color: #fff;
}
#top-txt span {
  color: #dcb658;
}

@media (max-width: 1100px) {
  .foot-sec {
    padding: 2rem 0rem;
  } 
  .kj-about > div {
    width: 100%;
    padding: 2rem 0rem;
  }
}
@media (max-width: 900px) {
    .kj-footer {
        height: 700px;
    }
    .kj-footer .overlay {
        height: 700px;
    }
    .foot-sec {
        flex-wrap: wrap;
    }
  .foot-about-sec {
    width: 50%;
    padding-right: 10px;
    padding-left: 5px;
  }
  .foot-con-sec {
    width: 50%;
    padding-right: 10px;
    padding-left: 5px;
  }
  .foot-work-sec {
    width: 50%;
    padding-right: 10px;
    padding-left: 5px;
  }
  .foot-lo-sec {
    width: 50%;
    padding-right: 10px;
    padding-left: 5px;
  }
   .comment p {
    font-size: 18px;
  }
  #about-text {
    font-size: 12px;
    line-height: 16px;
  }
}
@media (max-width: 400px) {
    .kj-footer {
        height: 1200px;
    }
    .kj-footer .overlay {
        height: 1200px;
    }
    .foot-sec {
        flex-wrap: wrap;
    }
  .foot-about-sec {
    width: 100%;
    padding-right: 10px;
    padding-left: 5px;
  }
  .foot-con-sec {
    width: 100%;
    padding-right: 10px;
    padding-left: 5px;
  }
  .foot-work-sec {
    width: 100%;
    padding-right: 10px;
    padding-left: 5px;
  }
  .foot-lo-sec {
    width: 100%;
    padding-right: 10px;
    padding-left: 5px;
  }

  .comment p {
    font-size: 14px;
  }
   #about-text {
    font-size: 8px;
    line-height: 10px;
  }
}
